<div>
  <app-page-header [heading]="'Transactions'" [icon]="'fa-edit'"></app-page-header>
  
<div class="row">
  <div class="col col-lg-12">
    <div class="card mb-12">
      <div class="card-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Table">
        </mat-form-field>
      </div>
      <div class="card-body table-responsive">
        <mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="transactionid">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Transaction ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.Transaction_Id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="userid">
            <mat-header-cell *matHeaderCellDef mat-sort-header> User ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.User_Id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="membershipid">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Membership ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.Membership_Id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.Amount}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="renewaldate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Renewal Date </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.Renewal_Date}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="expirydate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Expiry Date </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.Expiry_Date}} </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
  </div>
</div>