<mat-tab-group dynamicHeight>
	<mat-tab label="Pending Renewal">
		<div class="example-small-box mat-elevation-z4">
			<mat-table [dataSource]="pendingRenewals" matSort>
		        <ng-container matColumnDef="transactionId">
		          <mat-header-cell *matHeaderCellDef > Transaction Id </mat-header-cell>
		          <mat-cell *matCellDef="let row"> {{row.transaction_id}} </mat-cell>
		        </ng-container>

		        <ng-container matColumnDef="username">
		          <mat-header-cell *matHeaderCellDef > User Name </mat-header-cell>
		          <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
		        </ng-container>

		        <ng-container matColumnDef="MemPlan">
		          <mat-header-cell *matHeaderCellDef mat-sort-header> Membership Plan </mat-header-cell>
		          <mat-cell *matCellDef="let row"> {{row.plans}} </mat-cell>
		        </ng-container>

		        <ng-container matColumnDef="expiryDate">
		          <mat-header-cell *matHeaderCellDef > Expiry Date </mat-header-cell>
		          <mat-cell *matCellDef="let row"> {{row.expire_date}} </mat-cell>
		        </ng-container>

		        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	        </mat-table>

	        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
		</div>
	</mat-tab>
	<mat-tab label="Recents Renewal">
		<div class="example-large-box mat-elevation-z4">
			<mat-table [dataSource]="dataSource" matSort>
		        <ng-container matColumnDef="transactionId">
		          <mat-header-cell *matHeaderCellDef > Transaction Id </mat-header-cell>
		          <mat-cell *matCellDef="let row"> {{row.transaction_id}} </mat-cell>
		        </ng-container>

		        <ng-container matColumnDef="username">
		          <mat-header-cell *matHeaderCellDef > User Name </mat-header-cell>
		          <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
		        </ng-container>

		        <ng-container matColumnDef="MemPlan">
		          <mat-header-cell *matHeaderCellDef mat-sort-header> Membership Plan </mat-header-cell>
		          <mat-cell *matCellDef="let row"> {{row.plans}} </mat-cell>
		        </ng-container>

		        <ng-container matColumnDef="expiryDate">
		          <mat-header-cell *matHeaderCellDef > Expiry Date </mat-header-cell>
		          <mat-cell *matCellDef="let row"> {{row.expire_date}} </mat-cell>
		        </ng-container>

		        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		    </mat-table>

		    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
		</div>
	</mat-tab>
</mat-tab-group>