<div [@routerTransition]>
    <app-page-header [heading]="'Add Loyalty'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-12">
            <form [formGroup]="loyaltyform" (ngSubmit)="onloyalty()">
              <fieldset class="form-group">
                  <label>Name</label>
                  <input class="form-control" [ngClass]="{ 'is-invalid': (f.Name.touched || submitted) && f.Name.errors }" formControlName="Name" placeholder="Enter Name" type="text">
                  <div *ngIf="(f.Name.touched || submitted) && f.Name.errors" class="invalid-feedback">
                      <div *ngIf="f.Name.errors.required"> Name is required</div>
                  </div>
              </fieldset>


              <fieldset class="form-group">
                  <label>Points</label>
                  <input class="form-control" [ngClass]="{ 'is-invalid': (f.Points.touched || submitted) && f.Points.errors }" formControlName="Points" placeholder="Enter Points" type="number">
                  <div *ngIf="(f.Points.touched || submitted) && f.Points.errors" class="invalid-feedback">
                      <div *ngIf="f.Points.errors.required"> Points is required</div>
                  </div>
              </fieldset>
                <button type="submit" class="btn btn-secondary">Add Loyalty</button>&nbsp;
                <button type="submit" class="btn btn-secondary" (click) = "cancel()">Cancel</button>
            </form>
        </div>
    </div>
    <!-- /.row -->
</div>
