<div [@routerTransition]>
    <app-page-header [heading]="'Edit User'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-12">
            <form (ngSubmit)="editUser()">
                <div class="row">
                    <div class="col-lg-6 text-xs-center">
                        <fieldset class="form-group">
                            <label>Username</label>
                            <input class="form-control" name="username" [(ngModel)]="userDetail.username" placeholder="Enter Username" type="text">
                        </fieldset>

                        <fieldset class="form-group">
                            <label>First Name</label>
                            <input class="form-control" name="firstName" [(ngModel)]="userDetail.firstName" placeholder="Enter First Name" type="text">
                        </fieldset>

                        <fieldset class="form-group">
                            <label>Email</label>
                            <input class="form-control" name="email" [(ngModel)]="userDetail.email" placeholder="Enter Email" type="email">
                        </fieldset>

                        <fieldset class="form-group">
                            <label>DOB</label>
                            <input class="form-control" name="dob" [(ngModel)]="userDetail.dob" type="date">
                        </fieldset>
                    </div>
                    <div class="col-lg-6 text-xs-center">
                        <fieldset class="form-group">
                            <label>Password</label>
                            <input class="form-control" name="password" [(ngModel)]="userDetail.password" placeholder="Enter Password" type="password">
                        </fieldset>

                        <fieldset class="form-group">
                            <label>Last Name</label>
                            <input class="form-control" name="lastName" [(ngModel)]="userDetail.lastName" placeholder="Enter Last Name" type="text">
                        </fieldset>

                        <div class="form-group">
                            <label>Gender</label>
                            <br />
                            <label class="checkbox-inline">
                                <input type="radio" name="genderRadios" [(ngModel)]="userDetail.genderRadios" id="genderRadios1" value="F" checked="{{userDetail.genderRadios}} == 'F'"> Female&nbsp;&nbsp;
                            </label>&nbsp;&nbsp;
                            <label class="checkbox-inline">
                                <input type="radio" name="genderRadios" [(ngModel)]="userDetail.genderRadios" id="genderRadios2" value="M" checked="{{userDetail.genderRadios}} == 'M'"> Male&nbsp;&nbsp;
                            </label>
                        </div>

                        <fieldset class="form-group">
                            <label>Address</label>
                            <input class="form-control" name="address" [(ngModel)]="userDetail.address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
                        </fieldset>
                    </div>
                </div>
                <button type="submit" class="btn btn-secondary">Edit User</button>&nbsp;
                <button type="submit" class="btn btn-secondary" (click)="cancel()">Cancel</button>
            </form>
        </div>
    </div>
    <!-- /.row -->
</div>