<div [@routerTransition]>
    <app-page-header [heading]="'Settings'" [icon]="'fa-cog'"></app-page-header>
    <div class="row">
    	<div class="col-lg-12">
    		<h2>System Configuration</h2>
			<p>Here you can update your system configuration. Please do not make any changes unless you know what you're doing.</p>
    		<form (ngSubmit)="saveSettings()" *ngIf="!update">
    			<div class="row">
                    <div class="col-lg-6 text-xs-center">
                    	<fieldset class="form-group">
                    		<label>Website Name</label>
                    		<input type="textbox" class="form-control" [(ngModel)]="settingDetail.webname" name="webname" placeholder="Website Name">
                    	</fieldset>
                    	<fieldset class="form-group">
                    		<label>Site Directory</label>
                    		<input type="textbox" class="form-control" [(ngModel)]="settingDetail.sitedir" name="sitedir" placeholder="Site Directory">
                    	</fieldset>
                    	<fieldset class="form-group">
                    		<label>Company Logo</label>
                    		<input type="file" class="form-control-file" [(ngModel)]="settingDetail.companylogo" name="companylogo" placeholder="Website Name" (change)="upload($event.target.files)">Upload Percent: {{percentDone}}% <br />
                    	</fieldset>
                    	<!-- <fieldset class="form-group">
                    		<label>Date</label>
                    		<select class="form-control" [(ngModel)]="settingDetail.datetype" name="datetype">
                    			<option value="Select Date Format" selected>Select Date Format</option>
                    			<option value="1">{{currentDate | date }}</option>
                    			<option value="2">{{currentDate | date:'medium' }}</option>
                    			<option value="3">{{currentDate | date:'shortDate' }}</option>
                    			<option value="4">{{currentDate | date:'fullDate' }}</option>
                    			<option value="5">{{currentDate | date:'dd/MM/yyyy' }}</option>
                    			<option value="6">{{currentDate | date:'yyyy/dd/MM' }}</option>
                    			<option value="7">{{currentDate | date:'MM/dd/yyyy' }}</option>
                    			<option value="8">{{currentDate | date:'dd/MM/yyyy HH:mm a' }}</option>
                    			<option value="9">{{currentDate | date:'yyyy/dd/MM HH:mm a' }}</option>
                    			<option value="10">{{currentDate | date:'MM/dd/yyyy HH:mm a' }}</option>
                    		</select>
                    	</fieldset> -->
                    	<fieldset class="form-group">
                    		<label>Allow Registration</label><br/>
                    		<mat-slide-toggle [(ngModel)]="settingDetail.allowregistration" name="allowregistration" class="example-margin"></mat-slide-toggle>
                    	</fieldset>
                    	<fieldset class="form-group">
                    		<label>Registration Notification</label><br/>
                    		<mat-slide-toggle [(ngModel)]="settingDetail.registrationnotification" name="registrationnotification" class="example-margin"></mat-slide-toggle>
                    	</fieldset>
                        <fieldset class="form-group">
                            <label>If checked, users can be assinged as List Admin while creating user.</label><br/>
                            <mat-slide-toggle [(ngModel)]="settingDetail.listadmin" name="listadmin" class="example-margin"></mat-slide-toggle>
                        </fieldset>
                    </div>
                    <div class="col-lg-6 text-xs-center">
                    	<fieldset class="form-group">
                    		<label>Website Email</label>
                    		<input type="textbox" class="form-control" [(ngModel)]="settingDetail.webemail" name="webemail" placeholder="Website Email">
                    	</fieldset>
                    	<fieldset class="form-group">
                    		<label>Payment Confirmation Email</label>
                    		<input type="textbox" class="form-control" [(ngModel)]="settingDetail.payemail" name="payemail" placeholder="Payment Confirmation Email">
                    	</fieldset>
                    	<fieldset class="form-group">
                    		<label>Loyalty Points</label><br/>
                    		<mat-slide-toggle [(ngModel)]="settingDetail.points" name="points" class="example-margin"></mat-slide-toggle>
                    	</fieldset>
                    	<fieldset class="form-group">
                    		<label>Phone Number</label><br/>
                    		<input type="textbox" class="form-control-file" [(ngModel)]="settingDetail.webphone" name="webphone"  placeholder="Phone Number">
                    	</fieldset>
                    	<fieldset class="form-group">
                    		<label>Registration Verification</label><br/>
                    		<mat-slide-toggle [(ngModel)]="settingDetail.regverification" name="regverification" class="example-margin"></mat-slide-toggle>
                    	</fieldset>
                    	<fieldset class="form-group">
                    		<label>Default Currency</label>
                    		<input type="textbox" class="form-control" [(ngModel)]="settingDetail.defaultcurrency" name="defaultcurrency" placeholder="Default Currency">
                    	</fieldset>
                    </div>
                </div>
                <button type="submit" class="btn btn-secondary">Save Settings</button>
    		</form>
    		<form (ngSubmit)="updateSettings()" *ngIf="update">
    			<div class="row">
                    <div class="col-lg-6 text-xs-center">
                    	<fieldset class="form-group">
                    		<label>Website Name</label>
                    		<input type="textbox" class="form-control" [(ngModel)]="settingDetail.webname" name="webname" placeholder="Website Name">
                    	</fieldset>
                    	<fieldset class="form-group">
                    		<label>Site Directory</label>
                    		<input type="textbox" class="form-control" [(ngModel)]="settingDetail.sitedir" name="sitedir" placeholder="Site Directory">
                    	</fieldset>
                    	<fieldset class="form-group">
                    		<label>Company Logo</label>
                    		<input type="file" class="form-control-file" [(ngModel)]="settingDetail.companylogo" name="companylogo" placeholder="Website Name" (change)="uploadCompanyLogo($event.target.files)">
                    	</fieldset>
                    	<fieldset class="form-group">
                    		<label>Date</label>
                    		<select class="form-control" [(ngModel)]="settingDetail.datetype" name="datetype">
                    			<option value="Select Date Format" selected>Select Date Format</option>
                    			<option value="1">{{currentDate | date }}</option>
                    			<option value="2">{{currentDate | date:'medium' }}</option>
                    			<option value="3">{{currentDate | date:'shortDate' }}</option>
                    			<option value="4">{{currentDate | date:'fullDate' }}</option>
                    			<option value="5">{{currentDate | date:'dd/MM/yyyy' }}</option>
                    			<option value="6">{{currentDate | date:'yyyy/dd/MM' }}</option>
                    			<option value="7">{{currentDate | date:'MM/dd/yyyy' }}</option>
                    			<option value="5">{{currentDate | date:'dd/MM/yyyy HH:mm a' }}</option>
                    			<option value="6">{{currentDate | date:'yyyy/dd/MM HH:mm a' }}</option>
                    			<option value="7">{{currentDate | date:'MM/dd/yyyy HH:mm a' }}</option>
                    		</select>
                    	</fieldset>
                    	<fieldset class="form-group">
                    		<label>Allow Registration</label><br/>
                    		<mat-slide-toggle [(ngModel)]="settingDetail.allowregistration" name="allowregistration" class="example-margin"></mat-slide-toggle>
                    	</fieldset>
                    	<fieldset class="form-group">
                    		<label>Registration Notification</label><br/>
                    		<mat-slide-toggle [(ngModel)]="settingDetail.registrationnotification" name="registrationnotification" class="example-margin"></mat-slide-toggle>
                    	</fieldset>
                        <fieldset class="form-group">
                            <label>If checked, users can be assinged as List Admin while creating user.</label><br/>
                            <mat-slide-toggle [(ngModel)]="settingDetail.listadmin" name="listadmin" class="example-margin"></mat-slide-toggle>
                        </fieldset>
                    </div>
                    <div class="col-lg-6 text-xs-center">
                    	<fieldset class="form-group">
                    		<label>Website Email</label>
                    		<input type="textbox" class="form-control" [(ngModel)]="settingDetail.webemail" name="webemail" placeholder="Website Email">
                    	</fieldset>
                    	<fieldset class="form-group">
                    		<label>Payment Confirmation Email</label>
                    		<input type="textbox" class="form-control" [(ngModel)]="settingDetail.payemail" name="payemail" placeholder="Payment Confirmation Email">
                    	</fieldset>
                    	<fieldset class="form-group">
                    		<label>Loyalty Points</label><br/>
                            <mat-slide-toggle [(ngModel)]="settingDetail.points" name="points" class="example-margin"></mat-slide-toggle>
                    	</fieldset>
                    	<fieldset class="form-group">
                    		<label>Phone Number</label><br/>
                    		<input type="textbox" class="form-control-file" [(ngModel)]="settingDetail.webphone" name="webphone"  placeholder="Phone Number">
                    	</fieldset>
                    	<fieldset class="form-group">
                    		<label>Registration Verification</label><br/>
                    		<mat-slide-toggle [(ngModel)]="settingDetail.regverification" name="regverification" class="example-margin"></mat-slide-toggle>
                    	</fieldset>
                    	<fieldset class="form-group">
                    		<label>Default Currency</label>
                    		<input type="textbox" class="form-control" [(ngModel)]="settingDetail.defaultcurrency" name="defaultcurrency" placeholder="Default Currency">
                    	</fieldset>
                    </div>
                </div>
                <button type="submit" class="btn btn-secondary">Update Settings</button>
    		</form>		
    	</div>
    </div>
</div>