<div [@routerTransition]>
    <app-page-header [heading]="'Reports'" [icon]="'fa-pie-chart'"></app-page-header>
    <div class="row">
        <div class="col col-lg-12">
            <div class="card mb-12">
                <div class="card-header">
                    {{reportCount}} Reports
                </div>
                <div class="card-body table-responsive">
                    <mat-table [dataSource]="dataSource" matSort>

                    <!-- First Name Column -->
                    <ng-container matColumnDef="status">
                      <mat-header-cell *matHeaderCellDef > Status </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.status}} </mat-cell>
                    </ng-container>

                    <!-- Last Name Column -->
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef > Newsletter Name </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="sent">
                      <mat-header-cell *matHeaderCellDef> Newsletter Sent </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.sent}} </mat-cell>
                    </ng-container>

                    <!-- Role Column -->
                    <ng-container matColumnDef="openRate">
                      <mat-header-cell *matHeaderCellDef > Open Rate </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.openRate}} </mat-cell>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="bounceRate">
                      <mat-header-cell *matHeaderCellDef> Bounce Rate </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.bounceRate}} </mat-cell>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="linkRate">
                      <mat-header-cell *matHeaderCellDef> Click Through rate </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.linkRate}} </mat-cell>
                    </ng-container>

                    <!-- Role Column -->
                    <ng-container matColumnDef="date">
                      <mat-header-cell *matHeaderCellDef > Last Sent </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.date}} </mat-cell>
                    </ng-container>

                    <!-- Role Column -->
                    <ng-container matColumnDef="stats">
                      <mat-header-cell *matHeaderCellDef ></mat-header-cell>
                      <mat-cell *matCellDef="let row"> <a (click)="redirect(row.id);"> <i class="fa fa-bar-chart"></i></a> </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                    </mat-table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>