<div [@routerTransition]>
    <app-page-header [heading]="'Email Template'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-12">
            <div *ngIf="new">
                <div class="row" *ngIf="showTable">
                    <div class="col-lg-12">
                        <div class="card-header">
                            Email Templates
                            <a class="btn rounded-btn" (click)="addet()" style="float:right;"> <i _ngcontent-c3="" class="fa fa-fw fa-plus"></i> Add Email Template</a>
                        </div>
                        <div class="card-body table-responsive">
                            <mat-table [dataSource]="dataSource" matSort>
                                <ng-container matColumnDef="templatename">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>TemplateName </mat-header-cell>
                                  <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="subject">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header> Subject </mat-header-cell>
                                  <mat-cell *matCellDef="let row"> {{row.subject}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="action">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header>Action </mat-header-cell>
                                  <mat-cell *matCellDef="let row"> <a (click)="editet(row.id);"> <i class="fa fa-fw fa-edit"></i></a>&nbsp;
                                        <a (click)="deleteet(row.id);"> <i class="fa fa-fw fa-trash"></i></a> </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;">
                                </mat-row>
                            </mat-table>

                                  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

                            <!-- <table class="table">
                                <thead>
                                <tr>
                                    <th>Template Name</th>
                                    <th>Subject</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let emailTemplate of emailTemplates">
                                    <td>{{emailTemplate.name}}</td>
                                    <td>{{emailTemplate.subject}}</td>
                                    <td><a (click)="editet(emailTemplate.id);"> <i class="fa fa-fw fa-edit"></i></a>&nbsp;
                                        <a (click)="deleteet(emailTemplate.id);"> <i class="fa fa-fw fa-trash"></i></a></td>
                                </tr>
                                </tbody>
                            </table> -->
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="!showTable">
                    <div class="col-lg-12">
                        <form [formGroup]="emailTemplateForm" (ngSubmit)="addEmailTemplate()">
                            <div class="row">
                                <div class="col-lg-6">
                                    <fieldset class="form-group">
                                        <label>Name</label>
                                        <input class="form-control" formControlName="temname" placeholder="Enter Template Name" type="text">
                                    </fieldset>
                                </div>

                                <div class="col-lg-6">
                                    <fieldset class="form-group">
                                        <label>Subject</label>
                                        <input class="form-control" formControlName="temsub" placeholder="Enter Subject" type="text">
                                    </fieldset>
                                </div>
                            </div>

                            <fieldset class="form-group">
                                <div [froalaEditor]="options" #my_editor formControlName="tembody"></div>
                                <!-- <quill-editor   [modules]="editor_modules" #editor></quill-editor> -->
                                <!-- <textarea class="form-control" formControlName="tembody" style="height: 449px;"></textarea> -->
                            </fieldset>


                            <fieldset class="form-group">
                                <label>Description</label>
                                <input class="form-control" placeholder="Enter Description" type="text">
                            </fieldset>

                            <button type="submit" class="btn btn-secondary">Save Tempalte</button>&nbsp;
                            <button type="submit" class="btn btn-secondary" (click)="cancel()">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="showEdit">
                <div class="col-lg-12">
                    <form (ngSubmit)="updateEmailTemplate()">
                        <div class="row">
                            <div class="col-lg-6">
                                <fieldset class="form-group">
                                    <label>Name</label>
                                    <input class="form-control" name="temname" [(ngModel)]="editEmailTemDetails.name" placeholder="Enter Template Name" type="text">
                                </fieldset>
                            </div>

                            <div class="col-lg-6">
                                <fieldset class="form-group">
                                    <label>Subject</label>
                                    <input class="form-control" name="temsub" [(ngModel)]="editEmailTemDetails.subject" placeholder="Enter Subject" type="text">
                                </fieldset>
                            </div>
                        </div>

                        <fieldset class="form-group">
                            <div [froalaEditor]="options" name="tembody" [(ngModel)]="editEmailTemDetails.body" #my_editor>Hello, Froala!</div>
                            <!-- <quill-editor [style]="{height: '450px'}" name="tembody" [(ngModel)]="editEmailTemDetails.body" [modules]="editor_modules" #editor></quill-editor> -->
                            <!-- <textarea class="form-control" name="tembody" [(ngModel)]="editEmailTemDetails.body" style="height: 449px;"></textarea> -->
                        </fieldset>

                        <button type="submit" class="btn btn-secondary">Update Tempalte</button>&nbsp;
                        <button type="submit" class="btn btn-secondary" (click)="cancel()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>