<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>User Management</h1>
            <form [formGroup]="loginForm" (ngSubmit)="onLoggedin()">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" formControlName="username" placeholder="Username">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" formControlName="password" placeholder="Password">
                    </div>
                </div>
                <button class="btn rounded-btn">Login</button>
                <!-- <a class="btn rounded-btn"> Log in </a> -->
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
            </form>
        </div>
    </div>
</div>
