<div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>
    <ngx-spinner
      bdColor="rgba(51,51,51,0.8)"
      size="medium"
      color="#fff"
      type="ball-fussion">
     <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>


    <!-- <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div> -->
    <hr>
    <div class="row">        
        <div class="col-xl-3 col-lg-6">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col col-xs-9 text-right">
                            <div class="d-block huge">{{userCount}}</div>
                            <div class="d-block">Users</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <span class="float-left">View Details </span>
                    <a class="float-right card-inverse" href="/user">
                        <span style="color: #fff"><i class="fa fa-arrow-circle-right"></i></span>
                    </a>
                </div>
            </div>
            <!-- <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="userCount" [label]="'Users'"></app-stat> -->
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col col-xs-9 text-right">
                            <div class="d-block huge">{{listCount}}</div>
                            <div class="d-block">Lists</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <span class="float-left">View Details </span>
                    <a class="float-right card-inverse" href="/lists">
                        <span style="color: #fff"><i class="fa fa-arrow-circle-right"></i></span>
                    </a>
                </div>
            </div>
            <!-- <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="12" [label]="'New task!'" ></app-stat> -->
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col col-xs-9 text-right">
                            <div class="d-block huge">{{listCount}}</div>
                            <div class="d-block">Lists</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <span class="float-left">View Details </span>
                    <a class="float-right card-inverse" href="/lists">
                        <span style="color: #fff"><i class="fa fa-arrow-circle-right"></i></span>
                    </a>
                </div>
            </div>
            <!-- <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'New Orders!'" ></app-stat> -->
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col col-xs-9 text-right">
                            <div class="d-block huge">{{listCount}}</div>
                            <div class="d-block">Lists</div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <span class="float-left">View Details </span>
                    <a class="float-right card-inverse" href="/lists">
                        <span style="color: #fff"><i class="fa fa-arrow-circle-right"></i></span>
                    </a>
                </div>
            </div>
            <!-- <app-stat [bgClass]="'danger'" [icon]="'fa-support'" [count]="13" [label]="'New Tickets!'"></app-stat> -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-pie-chart fa-fw"></i> Newsletter Recent Statistics
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col col-xs-3">
                            <canvas baseChart [data]="chartData" [labels]="chartLabels" [chartType]="'pie'"></canvas>
                        </div>
                        <div class="col col-xs-9 text-right">
                            <div class="d-block huge" id="newsletter" style="height: 20%;overflow-x: hidden;overflow-y: scroll;"></div>
                            <hr/>
                            <div class="d-block">{{newsletterDetail?.name}}</div>
                            <div class="d-block">Sent - {{newsletterDetail?.totalSent}}</div>
                        </div>
                    </div>                    
                </div>                
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-6">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bar-chart fa-fw"></i> Users Count
                </div>
                <lib-highcharts-angular 
                  [Highcharts]="Highcharts"
                 
                  [constructorType]="chartConstructor"
                  [options]="chartOptions1"
                 
                  [(update)]="updateFlag"
                 
                  style="width: 100%; height: 400px; display: block;"
                ></lib-highcharts-angular>
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>
