<div [@routerTransition]>
    <app-page-header [heading]="'Membership'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-12"  *ngIf="!showMembership">
              <div class="card-header">
                    <mat-form-field>
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Table">
                    </mat-form-field>
                        <a class="btn rounded-btn" (click)="memToggle()" style="float:right;"> <i _ngcontent-c3="" class="fa fa-fw fa-plus"></i> Add Membership</a>
                    </div>
                <div class="card-body table-responsive">
                    <mat-table [dataSource]="dataSource" matSort>
                      <ng-container matColumnDef="membershipname">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>MembershipName </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.MembershipName}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="price">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.Price}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="duration">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Duration </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.Duration}} </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;">
                      </mat-row>
                      </mat-table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </div>
      </div>
        <div class="col-lg-12">
            <form [formGroup]="membershipForm" (ngSubmit)="addMembership()" *ngIf="showMembership">
                <fieldset class="form-group">
                    <label>Membership Name</label>
                    <input class="form-control" formControlName="memname" placeholder="Enter Membership Name" type="text">
                </fieldset>

                <fieldset class="form-group">
                    <label>Description</label>
                    <input class="form-control" formControlName="description" placeholder="Enter Description" type="text">
                </fieldset>

                <fieldset class="form-group">
                    <label>Duration</label>
                    <div class="row">
                        <div class="col-lg-10">
                            <input class="form-control" formControlName="duration" type="number">
                        </div>
                        <div class="col-lg-2">
                            <select class="form-control">
                                <option>Y</option>
                                <option>M</option>
                                <option>Days</option>
                            </select>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label>Price</label>
                    <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">$</span>
                    </div>
                    <input type="text" formControlName="price" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
                </fieldset>
                <button type="submit" class="btn btn-secondary">Add Membership</button>&nbsp;
                <button type="submit" class="btn btn-secondary" (click) = "cancel()">Cancel</button>
            </form>
        </div>
    </div>
    <!-- /.row -->
</div>
