<div [@routerTransition]>
  <app-page-header [heading]="'Profile'" [icon]="'fa-edit'"></app-page-header>
  <div class="row">
    <div class="col-lg-6 text-xs-center">
      <fieldset class="form-group">
          <label>First Name</label>
          <span class="form-control" [ngClass]="users.firstName == '' ? 'emptyValue' : ''">{{users.firstName}}</span>
      </fieldset>

      <fieldset class="form-group">
          <label>Last Name</label>
          <span class="form-control" [ngClass]="users.lastName == '' ? 'emptyValue' : ''">{{users.lastName}}</span>
      </fieldset>

      <fieldset class="form-group">
          <label>Email</label>
            <span class="form-control" [ngClass]="users.email == '' ? 'emptyValue' : ''">{{users.email}}</span>
      </fieldset>

      <fieldset class="form-group">
          <label>DOB</label>
            <span class="form-control" [ngClass]="users.dob == '' ? 'emptyValue' : ''">{{users.dob}}</span>
      </fieldset>
    </div>

    <div class="col-lg-6 text-xs-center">
      <fieldset class="form-group">
          <label>Phone</label>
          <span class="form-control" [ngClass]="users.phone == '' ? 'emptyValue' : ''">{{users.phone}}</span>
      </fieldset>

      <div class="form-group">
          <label>Gender</label>
          <span class="form-control" [ngClass]="users.gender == '' ? 'emptyValue' : ''">{{users.gender}}</span>
      </div>

      <fieldset class="form-group">
          <label>Address</label>
          <span class="form-control" [ngClass]="users.address == '' ? 'emptyValue' : ''">{{users.address}}</span>
      </fieldset>

      <fieldset class="form-group">
          <label>Username</label>
            <span class="form-control" [ngClass]="users.username == '' ? 'emptyValue' : ''">{{users.username}}</span>
      </fieldset>
    </div>
  </div>
</div>