<div [@routerTransition]>
    <app-page-header [heading]="'Lists'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-12">
            <div class="row" *ngIf="showTable">
                <div class="col-lg-12">
                    <div class="card-header">
                      <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Table">
                      </mat-form-field>
                        <a class="btn rounded-btn" (click)="addlist()" style="float:right;"> <i _ngcontent-c3="" class="fa fa-fw fa-plus"></i> Add List</a>
                    </div>
                    <div class="card-body table-responsive">
                            <mat-table [dataSource]="dataSource" matSort>
                              <ng-container matColumnDef="listname">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>List Name </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                              </ng-container>

                              <ng-container matColumnDef="email">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
                              </ng-container>

                              <ng-container matColumnDef="phonenumber">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.phone}} </mat-cell>
                              </ng-container>

                              <ng-container matColumnDef="address">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.address}} </mat-cell>
                              </ng-container>

                              <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                                <mat-cell *matCellDef="let row"> <a (click)="editlist(row.id);"> <i class="fa fa-fw fa-edit"></i></a>&nbsp;<a (click)="deletelist(row.id);"> <i class="fa fa-fw fa-trash"></i></a> </mat-cell>
                              </ng-container>

                              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                              <mat-row *matRowDef="let row; columns: displayedColumns;">
                              </mat-row>
                              </mat-table>

                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="!showTable">
                <div class="col-lg-12">
                    <form (ngSubmit)="list()">
                        <div class="row">
                            <div class="col-lg-6">
                                <fieldset class="form-group">
                                    <label>Name</label>
                                    <input class="form-control" name="name" [(ngModel)]="lists.name" placeholder="Enter List Name" type="text">
                                </fieldset>
                            </div>

                            <div class="col-lg-6">
                                <fieldset class="form-group">
                                    <label>Email</label>
                                    <input class="form-control" name="email" [(ngModel)]="lists.email" placeholder="Enter Email" type="text">
                                </fieldset>
                            </div>

                            <div class="col-lg-6">
                                <fieldset class="form-group">
                                    <label>Phone Number</label>
                                    <input class="form-control" name="phonenum" [(ngModel)]="lists.phonenum" placeholder="Enter Phone Number" type="text">
                                </fieldset>
                            </div>

                            <div class="col-lg-6">
                                <fieldset class="form-group">
                                    <label>Address</label>
                                    <input class="form-control" name="address" [(ngModel)]="lists.address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
                                </fieldset>
                            </div>

                            <div class="col-lg-6">
                                <fieldset class="form-group">
                                    <label>Image</label>
                                    <input class="form-control" name="image" [(ngModel)]="lists.image" type="file">
                                </fieldset>
                            </div>

                            <div class="col-lg-6">
                                <fieldset class="form-group">
                                    <label>Newsletter</label>
                                    <input class="form-control" name="newsletter" [(ngModel)]="lists.newsletter" type="checkbox"> Opt In
                                </fieldset>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-secondary" *ngIf="save">Add List</button>&nbsp;
                        <button type="submit" class="btn btn-secondary" *ngIf="!save">Update List</button>&nbsp;
                        <button type="submit" class="btn btn-secondary" (click)="cancel()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
