<div [@routerTransition]>
    <app-page-header [heading]="'User List'" [icon]="'fa-users'"></app-page-header>
    <div class="row">
        <div class="col col-lg-12">
            <div class="card mb-12">
                <div class="card-header">                    
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Table">
                    </mat-form-field>
                    <div class="rightContent">
                        <button mat-button color="accent" (click)="ExportToPdf()" tooltip="Export as PDF">
                            <i class="fas fa-file-pdf"></i>
                        </button>
                        <button mat-raised-button color="primary" (click)="ExportTOExcel()" tooltip="Export as Xlsx">
                            <i class="fas fa-file-excel"></i>
                        </button>
                        <button mat-raised-button color="primary" (click)="ExportTOCsv()" tooltip="Export as Csv">
                            <i class="fas fa-file-csv"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <mat-table [dataSource]="dataSource" matSort>

                    <!-- First Name Column -->
                    <ng-container matColumnDef="firstname">
                      <mat-header-cell *matHeaderCellDef > First Name </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.FirstName}} </mat-cell>
                    </ng-container>

                    <!-- Last Name Column -->
                    <ng-container matColumnDef="lastname">
                      <mat-header-cell *matHeaderCellDef > Last Name </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.LastName}} </mat-cell>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="email">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
                    </ng-container>

                    <!-- Role Column -->
                    <ng-container matColumnDef="role">
                      <mat-header-cell *matHeaderCellDef > Role </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.role}} </mat-cell>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                      <mat-cell *matCellDef="let row"> <a (click)="edituser(row.id);"> <i class="fa fa-fw fa-edit"></i></a>&nbsp;<a (click)="deleteuser(row.id);"> <i class="fa fa-fw fa-trash"></i></a> </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table" #excel style="display: none;">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of exportData">
        <td>{{user.FirstName}}</td>
        <td>{{user.LastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.address}}</td>
        <td>{{user.role}}</td>
    </tr>
    </tbody>
</table>