<div [@routerTransition]>
    <app-page-header [heading]="'User Subscriptions'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-12">
            <div class="card-header">
                User Subscriptions
                <div class="rightContent">
                    <select class="form-control" (change)="selectUser($event.target.value)">
                        <option selected value="">Select List</option>
                        <option *ngFor="let list of listDetails" value="{{list.id}}">{{list.name}}</option>
                    </select>
                </div>
            </div>
            <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>List Name</th>
                        <th>Subscribed On</th>
                        <th>Subscribed Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.FirstName}}</td>
                        <td>{{user.LastName}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.address}}</td>
                        <td>{{user.listname}}</td>
                        <td>{{user.date}}</td>
                        <td *ngIf="user.status == 1">Subscribed</td>
                        <td *ngIf="user.status == 0">Unsubscribed</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>