<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>SB Admin BS4 Angular5</h1>
            <ngx-spinner
     bdColor="rgba(51,51,51,0.8)"
     size="medium"
     color="#fff"
     type="ball-fussion">
    <p style="font-size: 20px; color: white">Please Wait...</p>
   </ngx-spinner>
            <form (ngSubmit)="onregister()" [formGroup]="registerform">
                    <div class="form-group">
                      <fieldset class="form-group">
                          <input class="form-control input-underline input-lg"  [ngClass]="{ 'is-invalid': (f.username.touched || submitted) && f.username.errors }" formControlName="username" placeholder="Enter Username" type="text">
                          <div *ngIf="(f.username.touched || submitted) && f.username.errors" class="invalid-feedback">
                              <div *ngIf="f.username.errors.required">Username is required</div>
                          </div>
                            <div style="color:red;" *ngIf="usernameerror">Username Already Exits.<br/><br/></div>
                      </fieldset>

                      <fieldset class="form-group">
                          <input class="form-control input-underline input-lg" [ngClass]="{ 'is-invalid': (f.password.touched || submitted) && f.password.errors }" formControlName="password" placeholder="Enter Password" type="password">
                          <div *ngIf="(f.password.touched || submitted) && f.password.errors" class="invalid-feedback">
                              <div *ngIf="f.password.errors.required">Password is required</div>
                          </div>
                      </fieldset>

                      <fieldset class="form-group">
                          <input class="form-control input-underline input-lg"  [ngClass]="{ 'is-invalid': (f.firstName.touched || submitted) && f.firstName.errors }" formControlName="firstName" placeholder="Enter First Name" type="text">
                          <div *ngIf="(f.firstName.touched || submitted) && f.firstName.errors" class="invalid-feedback">
                              <div *ngIf="f.firstName.errors.required">First Name is required</div>
                          </div>
                      </fieldset>

                      <fieldset class="form-group">
                          <input class="form-control input-underline input-lg"  [ngClass]="{ 'is-invalid': (f.lastName.touched || submitted) && f.lastName.errors }" formControlName="lastName" placeholder="Enter Last Name" type="text">
                          <div *ngIf="(f.lastName.touched || submitted) && f.lastName.errors" class="invalid-feedback">
                              <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                          </div>
                      </fieldset>

                      <fieldset class="form-group">
                          <input class="form-control input-underline input-lg"  [ngClass]="{ 'is-invalid': (f.email.touched || submitted) && f.email.errors }" formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Enter Email" type="email">
                          <div *ngIf="(f.email.touched || submitted) && f.email.errors" class="invalid-feedback">
                              <div *ngIf="f.email.errors.required">Email is required</div>
                              <div *ngIf="f.email.errors.pattern">Email must be a valid email address</div>
                          </div>
                            <div style="color:red;" *ngIf="emailerror">Email Already Exits.<br/><br/></div>
                      </fieldset>

                      <fieldset class="form-group">
                          <input class="form-control input-underline input-lg"  [ngClass]="{ 'is-invalid': (f.phone.touched || submitted) && f.phone.errors }" formControlName="phone" placeholder="Enter phone number" type="number" oninput="if(value.length>10)value=value.slice(0,10)">
                          <div *ngIf="(f.phone.touched || submitted) && f.phone.errors" class="invalid-feedback">
                              <div *ngIf="f.phone.errors.required">Phone Number is required</div>
                          </div>
                      </fieldset>

                      <fieldset class="form-group">
                          <input class="form-control input-underline input-lg"  [ngClass]="{ 'is-invalid': (f.dob.touched || submitted) && f.dob.errors }" formControlName="dob" placeholder="Enter date" type="date">
                          <div *ngIf="(f.dob.touched || submitted) && f.dob.errors" class="invalid-feedback">
                              <div *ngIf="f.dob.errors.required">Date is required</div>
                          </div>
                      </fieldset>

                      <fieldset class="form-group">
                          <label>Gender</label>
                          <br />
                          <label class="checkbox-inline">
                              <input type="radio" formControlName="genderRadios" id="genderRadios1" value="F"> Female&nbsp;&nbsp;
                          </label>&nbsp;&nbsp;
                          <label class="checkbox-inline">
                              <input type="radio" formControlName="genderRadios" id="genderRadios2" value="M"> Male&nbsp;&nbsp;
                          </label>
                      </fieldset>

                      <fieldset class="form-group">
                          <input class="form-control input-underline input-lg"  [ngClass]="{ 'is-invalid': (f.address.touched || submitted) && f.address.errors }" formControlName="address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
                          <div *ngIf="(f.address.touched || submitted) && f.address.errors" class="invalid-feedback">
                              <div *ngIf="f.address.errors.required">Address is required</div>
                          </div>
                      </fieldset>

                <button class="btn rounded-btn">Register</button>&nbsp;&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>
                </div>
            </form>
        </div>
    </div>
</div>