<div [@routerTransition]>
    <app-page-header [heading]="'Add User'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-12">
            <form [formGroup]="addUserForm" (ngSubmit)="addUser()">
                <div style="color:red;" *ngIf="usernameerror">Username Already Exits.<br/><br/></div>
                <div style="color:red;" *ngIf="emailerror">Email Already Exits.<br/><br/></div>
                <div class="row">
                    <div class="col-lg-6 text-xs-center">
                        <fieldset class="form-group">
                            <label>Username</label>
                            <input class="form-control" [ngClass]="{ 'is-invalid': (f.username.touched || submitted) && f.username.errors }" formControlName="username" placeholder="Enter Username" type="text">
                            <div *ngIf="(f.username.touched || submitted) && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Username is required</div>
                            </div>
                        </fieldset>

                        <fieldset class="form-group">
                            <label>First Name</label>
                            <input class="form-control" [ngClass]="{ 'is-invalid': (f.firstName.touched || submitted) && f.firstName.errors }" formControlName="firstName" placeholder="Enter First Name" type="text">
                            <div *ngIf="(f.firstName.touched || submitted) && f.firstName.errors" class="invalid-feedback">
                                <div *ngIf="f.firstName.errors.required">First Name is required</div>
                            </div>
                        </fieldset>

                        <fieldset class="form-group">
                            <label>Email</label>
                            <input class="form-control" [ngClass]="{ 'is-invalid': (f.email.touched || submitted) && f.email.errors }" formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Enter Email" type="email">
                            <div *ngIf="(f.email.touched || submitted) && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.pattern">Email must be a valid email address</div>
                            </div>
                        </fieldset>

                        <fieldset class="form-group">
                            <label>DOB</label>
                            <input class="form-control" [ngClass]="{ 'is-invalid': (f.dob.touched || submitted) && f.dob.errors }" formControlName="dob" type="date">
                            <div *ngIf="(f.dob.touched || submitted) && f.dob.errors" class="invalid-feedback">
                                <div *ngIf="f.dob.errors.required">DOB is required</div>
                            </div>
                        </fieldset>

                        <fieldset class="form-group">
                            <label>Phone</label>
                            <input class="form-control" [ngClass]="{ 'is-invalid': (f.phone.touched || submitted) && f.phone.errors }" formControlName="phone" type="text">
                            <div *ngIf="(f.phone.touched || submitted) && f.phone.errors" class="invalid-feedback">
                                <div *ngIf="f.phone.errors.required">Phone Number is required</div>
                            </div>
                        </fieldset>

                        <fieldset class="form-group">
                            <label>Subscriber List</label>
                            <select class="form-control" [ngClass]="{ 'is-invalid': (f.sublist.touched || submitted) && f.sublist.errors }" formControlName="sublist">
                                <option selected>Select List</option>
                                <option *ngFor="let list of listDetails" value="{{list.id}}">{{list.name}}</option>
                            </select>
                            <div *ngIf="(f.sublist.touched || submitted) && f.sublist.errors" class="invalid-feedback">
                                <div *ngIf="f.sublist.errors.required">List Subscription is required</div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-lg-6 text-xs-center">
                        <fieldset class="form-group">
                            <label>Password</label>
                            <input class="form-control" [ngClass]="{ 'is-invalid': (f.password.touched || submitted) && f.password.errors }" formControlName="password" placeholder="Enter Password" type="password">
                            <div *ngIf="(f.password.touched || submitted) && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                            </div>
                        </fieldset>

                        <fieldset class="form-group">
                            <label>Last Name</label>
                            <input class="form-control" [ngClass]="{ 'is-invalid': (f.lastName.touched || submitted) && f.lastName.errors }" formControlName="lastName" placeholder="Enter Last Name" type="text">
                            <div *ngIf="(f.lastName.touched || submitted) && f.lastName.errors" class="invalid-feedback">
                                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                            </div>
                        </fieldset>

                        <div class="form-group">
                            <label>Gender</label>
                            <br />
                            <label class="checkbox-inline">
                                <input type="radio" formControlName="genderRadios" id="genderRadios1" value="F"> Female&nbsp;&nbsp;
                            </label>&nbsp;&nbsp;
                            <label class="checkbox-inline">
                                <input type="radio" formControlName="genderRadios" id="genderRadios2" value="M"> Male&nbsp;&nbsp;
                            </label>
                        </div>

                        <fieldset class="form-group">
                            <label>Address</label>
                            <input class="form-control" [ngClass]="{ 'is-invalid': (f.address.touched || submitted) && f.address.errors }" formControlName="address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
                            <div *ngIf="(f.address.touched || submitted) && f.address.errors" class="invalid-feedback">
                                <div *ngIf="f.address.errors.required">Address is required</div>
                            </div>
                        </fieldset>

                        <fieldset class="form-group" *ngIf="showlistadmin">
                            <input class="form-control" id="listadmin" type="checkbox" (change)="change($event)"/>Set as List Admin
                        </fieldset>
                    </div>
                </div>
                <button type="submit" class="btn btn-secondary">Add User</button>&nbsp;
                <button type="submit" class="btn btn-secondary" (click) = "cancel()">Cancel</button>
            </form>
        </div>
    </div>
    <!-- /.row -->
</div>