<mat-tab-group>
    <mat-tab label="Overview">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col col-sm-6">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <b>Message</b>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div id="messageTemplate" style="height: 150px;overflow-y: scroll;overflow-x: hidden;" disabled="true"></div>
                                            </div>
                                            <div class="col-lg-6">
                                                <br/><br/>
                                                <b>Subject</b>: {{subject}}<br/>
                                                <b>Lists</b>: {{list}}<br/>
                                                <b>Total Recipients</b>: {{totalSent}}<br/><br/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                
                            <div class="col col-sm-6">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <b>Sends</b> <span class="smallContent">Last sent on {{newsletterDate | date: 'MMM d, y h:mm a'}}</span>
                                    </div>
                                    <div class="card-body">
                                        <div class="divtotal">{{totalSent}}</div>
                                        <div class="row" style="padding: 15px;">
                                            <div class="col-lg-6" style="border: 1px solid #9c9c9c;padding: 20px;">
                                                <b>Delivered</b> <br/>
                                                {{totalSentPerc}}%  <span class="smallContent">{{sent}}</span>
                                            </div>
                                            <div class="col-lg-6" style="border: 1px solid #9c9c9c;padding: 20px;">
                                                <b>Bounced</b> <br />
                                                {{notSentPerc}}%  <span class="smallContent">{{notSentPerc}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>       
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">            
                            <div class="col col-sm-12">
                                <div class="card mb-12">
                                    <div class="card-header">
                                        <b>Activity</b>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <mat-grid-list cols="2" rowHeight="2:1">
                                                    <mat-grid-tile>
                                                        <div class="statsicon">
                                                            <i class="fa fa-envelope-open fa-2x"></i>
                                                        </div>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile>
                                                        Opened {{openCount}}
                                                    </mat-grid-tile>
                                                </mat-grid-list>
                                            </div>
                                            <div class="col-lg-4">
                                                <mat-grid-list cols="2" rowHeight="2:1">
                                                    <mat-grid-tile>
                                                        <div class="statsicon">
                                                            <i class="fa fa-link fa-2x"></i>
                                                        </div>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile>
                                                        <div class="statsiconright">Clicked {{clickCount}}</div>
                                                    </mat-grid-tile>
                                                </mat-grid-list>                                                    
                                            </div>
                                            <div class="col-lg-4">
                                                <mat-grid-list cols="2" rowHeight="2:1">
                                                    <mat-grid-tile>
                                                        <div class="statsicon">
                                                            <i class="fa fa-envelope fa-2x"></i>
                                                        </div>
                                                    </mat-grid-tile>
                                                    <mat-grid-tile>
                                                        <div class="statsiconright">Unopened {{totalSent - openCount}}</div>
                                                    </mat-grid-tile>
                                                </mat-grid-list>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>       
                </div><br>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">            
                            <div class="col col-sm-12">
                                <div class="card mb-12">
                                    <div class="card-header">
                                        <b>Activity Over Timeline</b>
                                    </div>
                                    <div class="card-body">
                                        <canvas baseChart [chartType]="'line'" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [legend]="true"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>       
                </div><br>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col col-sm-6">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <b>Domains</b>
                                    </div>
                                    <div class="card-body">
                                        <table>
                                            <tr *ngFor="let domain of domains">
                                                <td>
                                                    {{domain.domains}}
                                                </td>
                                                <td style="width: 100%;">
                                                    <mat-progress-bar mode="determinate" value="{{(domain.count / domain.count) * 100}}"></mat-progress-bar>{{(domain.count / domain.count) * 100}} %
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>                
                            <div class="col col-sm-6">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <b>Links</b>
                                    </div>
                                    <div class="card-body">
                                        <table>
                                            <tr *ngFor="let link of links">
                                                <td>
                                                    {{link.link}}
                                                </td>
                                                <td style="width: 100%;" *ngIf="(link.clickCount - link.openCount) != 0">
                                                    <mat-progress-bar mode="determinate" value="{{(link.clickCount / link.openCount) * 100}}"></mat-progress-bar>{{(link.clickCount / link.openCount) * 100 | number : '1.2'}} % ({{link.clickCount}}/{{link.openCount}})
                                                </td>
                                                <td style="width: 100%;" *ngIf="(link.clickCount - link.openCount) == 0">
                                                    <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>100 % ({{link.clickCount}}/{{link.openCount}})
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>       
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Mail Clients"></mat-tab>
    <mat-tab label="Links">
        <div class="card">
            <div class="card-header">
                <b>Links</b>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-body">
                            <table>
                                <tr *ngFor="let link of links">
                                    <td>
                                        {{link.link}}
                                    </td>
                                    <td style="width: 100%;" *ngIf="(link.clickCount - link.openCount) != 0">
                                        <mat-progress-bar mode="determinate" value="{{(link.clickCount / link.openCount) * 100}}"></mat-progress-bar>{{(link.clickCount / link.openCount) * 100 | number : '1.2'}} % ({{link.clickCount}}/{{link.openCount}})
                                    </td>
                                    <td style="width: 100%;" *ngIf="(link.clickCount - link.openCount) == 0">
                                        <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>100 % ({{link.clickCount}}/{{link.openCount}})
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Domains">
        <div class="card">
            <div class="card-header">
                <b>Domains</b>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-body">
                            <table>
                                <tr *ngFor="let domain of domains">
                                    <td>
                                        {{domain.domains}}
                                    </td>
                                    <td style="width: 100%;">
                                        <mat-progress-bar mode="determinate" value="{{(domain.count / domain.count) * 100}}"></mat-progress-bar>{{(domain.count / domain.count) * 100}} %
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>