.smallContent{
	font-size: 12px;
    margin: 0 0 0 3%;
    color: gray;
}
.divtotal{
	background-color: #333333;
    text-align: right;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}
.statsicon{
	background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 90px;
    height: 90px;
	background-color: #dc3545;
	float: left;
}
.statsicon i{
	position: absolute;
    top: 32%;
    right: 41%;
}
.statsiconright{
	float: right;
}