<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group" *ngIf="isAdmin">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('user')">
                <i class="fa fa-users"></i>&nbsp;
                <span>{{ 'Users' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'user'">
                <ul class="submenu">
                    <li *ngIf="!isListAdmin">
                        <a [routerLink]="['/user']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-users"></i>&nbsp;
                            <span>{{ 'All Users' | translate }}</span>
                        </a>
                    </li>
                    <li *ngIf="!isListAdmin">
                        <a [routerLink]="['/adduser']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-user-plus"></i>&nbsp;
                            <span>{{ 'Add User' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/subscribers']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-user-times"></i>&nbsp;
                            <span>{{ 'Subscribers' | translate }}</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a [routerLink]="['/roles']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-user-times"></i>&nbsp;
                            <span>{{ 'Roles' | translate }}</span>
                        </a>
                    </li> -->
                    <li *ngIf="!isListAdmin">
                        <a [routerLink]="['/groups']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-user-times"></i>&nbsp;
                            <span>{{ 'Groups' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/membership']" [routerLinkActive]="['router-link-active']" class="list-group-item" *ngIf="!isListAdmin">
            <i class="fa fa-handshake-o"></i>&nbsp;
            <span>{{ 'Membership' | translate }}</span>
        </a>
        <a [routerLink]="['/renewal']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="material-icons">autorenew</i>&nbsp;
            <span>{{ 'Renewals' | translate }}</span>
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('newsletter')">
                <i class="fa fa-paper-plane"></i>&nbsp;
                <span>{{ 'Campaign' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'newsletter'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/newsletter']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-envelope"></i>&nbsp;
                            <span>{{ 'Newsletters' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/reports']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-pie-chart"></i>&nbsp;
                            <span>{{ 'Reports' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>        
        <a [routerLink]="['/email-template']" [routerLinkActive]="['router-link-active']" class="list-group-item" *ngIf="!isListAdmin">
            <i class="fa fa-envelope-open"></i>&nbsp;
            <span>{{ 'Email Template' | translate }}</span>
        </a>
        <a [routerLink]="['/settings']" [routerLinkActive]="['router-link-active']" class="list-group-item" *ngIf="!isListAdmin">
            <i class="fa fa-cog"></i>&nbsp;
            <span>{{ 'Settings' | translate }}</span>
        </a>
        <a [routerLink]="['/lists']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-bars"></i>&nbsp;
            <span>{{ 'Lists' | translate }}</span>
        </a>
        <div class="nested-menu" *ngIf="!isListAdmin">
            <a class="list-group-item" (click)="addExpandClass('loyalty')">
              <i class="fa fa-gift"></i>&nbsp;
              <span>{{ 'Loyalty' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'loyalty'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/loyalty-display']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-gift"></i>&nbsp;
                            <span>{{ 'Loyalty Points' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/loyalty']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-gift"></i>&nbsp;
                            <span>{{ 'Add Loyalty' | translate }}</span>
                        </a>
                    </li>
                    <li>                        
                        <a [routerLink]="['/loyaltypoint']" [routerLinkActive]="['router-link-active']">
                            <i class="material-icons">redeem</i>&nbsp;
                            <span>{{ 'Redeemed Points' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/catalogue']" [routerLinkActive]="['router-link-active']" class="list-group-item" *ngIf="isListAdmin">
            <i class="fa fa-file-text-o"></i>&nbsp;
            <span>{{ 'catalogue' | translate }}</span>
        </a>
        <!-- <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;
            <span>{{ 'Bootstrap Element' | translate }}</span>
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;
            <span>{{ 'Bootstrap Grid' | translate }}</span>
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;
            <span>{{ 'Component' | translate }}</span>
        </a>
        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Charts' | translate }}</span>
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;
            <span>{{ 'Tables' | translate }}</span>
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;
            <span>{{ 'Forms' | translate }}</span>
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>{{ 'Menu' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;
            <span>{{ 'Blank Page' | translate }}</span>
        </a>
        <a href="http://www.strapui.com/" class="list-group-item">
            <i class="fa fa-caret-down"></i>&nbsp;
            <span>{{ 'More Themes' | translate }}</span>
        </a>

        <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b></span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fr')">
                                {{ 'French' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('ur')">
                                {{ 'Urdu' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('es')">
                                {{ 'Spanish' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('it')">
                                {{ 'Italian' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fa')">
                                {{ 'Farsi' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('de')">
                                {{ 'German' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div> -->
    </div>
    <div class="list-group" *ngIf="!isAdmin">
        <a [routerLink]="['/profile']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-user"></i>&nbsp;
            <span>{{ 'Profile' | translate }}</span>
        </a>
        <a [routerLink]="['/loyalty-display']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-dollar"></i>&nbsp;
            <span>{{ 'Loyalty Points' | translate }}</span>
        </a>
        <a [routerLink]="['/loyaltypoint']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-gift"></i>&nbsp;
            <span>{{ 'Redeem Points' | translate }}</span>
        </a>
        <a [routerLink]="['/transactions']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-bars"></i>&nbsp;
            <span>{{ 'Transactions' | translate }}</span>
        </a>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
