<div>
  <div class="row" *ngIf="showTable">
    <div class="col col-lg-12">
      <div class="card mb-12">
        <div class="card-header">
          Redeemed Points List
        </div>
        <div class="card-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Table">
          </mat-form-field>
          <div class="rightContent">
              <a *ngIf="!isAdmin" class="btn rounded-btn" (click)="toggleDisplay()">
                <i _ngcontent-c3="" class="fa fa-fw fa-plus"></i> Redeem Points
              </a>
              <button mat-button color="accent" (click)="ExportToPdf()" tooltip="Export as PDF">
                  <i class="fas fa-file-pdf"></i>
              </button>
              <button mat-raised-button color="primary" (click)="ExportTOExcel()" tooltip="Export as Xlsx">
                  <i class="fas fa-file-excel"></i>
              </button>
              <button mat-raised-button color="primary" (click)="ExportTOCsv()" tooltip="Export as Csv">
                  <i class="fas fa-file-csv"></i>
              </button>
          </div>
        </div>
        <div class="card-body table-responsive">
          <mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.loyalty}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="points">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Points Redeemed </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.points_redeemed}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="username">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> User Name </mat-header-cell>
                  <mat-cell *matCellDef="let row"><p *ngIf="!isAdmin"> {{userName}}</p> <p *ngIf="isAdmin">{{row.user_id}}</p> </mat-cell>
              </ng-container>

              <ng-container matColumnDef="totalpoints">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Remaining Points </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.remaining_points}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="redeemedon">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Redeemed On </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.redeemed_on | date}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="expiredate">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Expire Dates </mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.expiry_date | date}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!showTable && !isAdmin">
    <div class="col col-lg-12">
      <div class="card mb-12">
        <div class="card-header">
          Redeemed Points
        </div>
        <div class="card-body table-responsive">
            <form (ngSubmit)="redeemPoints()">
                <fieldset class="form-group" >
                    <label>Loyalty</label>
                    <select class="form-control" [(ngModel)]="loyaltypointform.loyalty" name="loyalty" (change)="setPoints($event.target.value)">
                        <option value="">Select Loyalty</option>
                        <option *ngFor="let loyalty of loyaltyPoints" value="{{ loyalty.id }}">{{ loyalty.name }}</option>
                    </select>
                </fieldset>

                <fieldset class="form-group">
                    <label>Points Redeemed</label>
                    <input class="form-control" [(ngModel)]="loyaltypointform.pointsredeemed" name="pointsredeemed" type="text" [disabled] = 'true'>
                </fieldset>
                <button type="submit" class="btn btn-secondary">Redeem Points</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>

