<div [@routerTransition]>
    <app-page-header [heading]="'Newsletter'" [icon]="'fa-edit'"></app-page-header>
    <div class="row" *ngIf="showTable">
        <div class="col-lg-12">
            <div class="card-header">
                Email Templates
                <a class="btn rounded-btn" (click)="addnews()" style="float:right;"> <i _ngcontent-c3="" class="fa fa-fw fa-plus"></i> Create Newsletter</a>
            </div>
            <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Subject</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let newsletterDetail of newsletterDetails">
                        <td>{{newsletterDetail.name}}</td>
                        <td>{{newsletterDetail.subject}}</td>
                        <td>{{newsletterDetail.status}}</td>
                        <td *ngIf="newsletterDetail.status == 'Pending'"><a (click)="sendnewsletter(newsletterDetail.id);">Send Email</a></td>
                        <td *ngIf="newsletterDetail.status == 'Sent'">Email Sent</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!showTable">
        <div class="col-lg-12">           
            <form (ngSubmit)="saveNewsletter()">
                <div class="row">
                    <div class="col-lg-6">
                        <fieldset class="form-group">
                            <label>Name Of Newsletter</label>
                            <input class="form-control" name="name" [(ngModel)]="newsLetter.name" placeholder="Enter Newsletter Name" type="text">
                        </fieldset>
                    </div>

                    <div class="col-lg-6">
                        <fieldset class="form-group">
                            <label>Subject</label>
                            <input class="form-control" name="subject" [(ngModel)]="newsLetter.subject" placeholder="Enter Subject" type="text">
                        </fieldset>
                    </div>

                    <div class="col-lg-6">
                        <fieldset class="form-group">
                            <label>Select List</label>
                            <select class="form-control" name="list" [(ngModel)]="newsLetter.list" (change)="checkvalue($event.target.value)">
                                <option value="Select List">Select List</option>
                                <option *ngFor="let list of listDetails" value="{{list.id}}">{{list.name}}</option>
                            </select>
                        </fieldset>
                    </div>

                    <div class="col-lg-6">
                        <fieldset class="form-group">
                            <label>To</label>
                            <input class="form-control" name="to" [(ngModel)]="newsLetter.to" placeholder="Enter Recipents Email(comma sepeareted for multiple receivers)" type="text" [attr.disabled]="condition ? '' : null">
                        </fieldset>
                    </div>

                    <div class="col-lg-6">
                        <fieldset class="form-group">
                            <label>Cc</label>
                            <input class="form-control" name="cc" [(ngModel)]="newsLetter.cc" placeholder="Enter Cc Email(comma sepeareted for multiple receivers)" type="text">
                        </fieldset>
                    </div>

                    <div class="col-lg-6">
                        <fieldset class="form-group">
                            <label>Bcc</label>
                            <input class="form-control" name="bcc" [(ngModel)]="newsLetter.bcc" placeholder="Enter Bcc Email(comma sepeareted for multiple receivers)" type="text">
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Email Content</label>
                        <fieldset class="form-group">
                            <quill-editor [style]="{height: '450px'}" name="body" [(ngModel)]="newsLetter.body" (onEditorCreated)="setFocus($event)" [modules]="editor_modules" #editor></quill-editor>
                        </fieldset>
                    </div>
                </div>
                <button type="submit" class="btn btn-secondary" (click)="sendtestmail()">Send Test</button>&nbsp;
                <button type="submit" class="btn btn-secondary">Save Newsletter</button>&nbsp;
                <button type="submit" class="btn btn-secondary" (click)="cancel()">Cancel</button>
            </form>
        </div>
    </div>
    <!-- /.row -->
</div>