<div>
  <div class="row">
    <div class="col col-lg-12">
      <div class="card mb-12">
        <div class="card-header">
          Loyalty List
        </div>
        <div class="card-header">
          <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Table">
          </mat-form-field>
        </div>
        <div class="card-body table-responsive">
          <mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="points">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Points </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.points}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
          </mat-table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
